body {
background-color: black;
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
color: white
}

table.tdfont td {
  font-size: 0.9em;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.missing {
  background-color: red;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
}

.content {
  float: left;
}

.logo {
  float: left;
  width: 20%;
  padding: 10px;
}

.header {
  float: left;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a:visited {
  color: red;
}

.category {
  background-color: #77700011;
  color: red;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.active, .categpry:hover {
  background-color: #77700033;
}

.apps {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
